# Node modules
node_modules/

# Next.js build outputs
.next/

# Environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
